__pycache__
.idea*
venv
.venv
*.pyc
install
.ipynb_checkpoints
.vscode
htmlcov
.nfs*
.coverage*
*.xml
*.egg-info
.python-version
.DS_Store
.cache
.env
*.html

wandb
cache
backdoor_data
cached.jsonl
data/*
!data/emergent_misalignment/
*.jsonl
!data/emergent_misalignment/*.jsonl
inspect.csv
*.csv
*.pdf
dump
.webui_secret_key