include README.md
include LICENSE
include requirements.txt
recursive-include latteries *.py
recursive-include docs *.png *.jpg *.jpeg *.gif *.svg
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store